version: '3'

services:
  vs-agent:
    image: io2060/vs-agent:dev
    restart: always
    networks:
      - chatbot
    ports:
      - 2800:3000
      - 2801:3001
    environment:
      - AGENT_PUBLIC_DID=did:webvh:p2801.ovpndev.2060.io
      - AGENT_INVITATION_IMAGE_URL=https://s3.minio.dev.2060.io/public/gov-id-issuer.png
      - AGENT_LABEL=Gov Id Issuer
      - USE_CORS=true
      - EVENTS_BASE_URL=https://p2802.ovpndev.2060.io
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=gaia
      - POSTGRES_PASSWORD=2060demo
      - REDIS_HOST=redis

  hologram-gov-id-issuer-app:
    build: 
      context: ../
      dockerfile: Dockerfile
    image: hologram-gov-id-issuer-app
    container_name: hologram-gov-id-issuer-app
    restart: always
    networks:
      - chatbot
    ports:
      - 2802:5000
    environment:
      - AGENT_PORT=5000
      - SERVICE_AGENT_ADMIN_URL=https://p2800.ovpndev.2060.io
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=gaia
      - POSTGRES_PASSWORD=2060demo
      - VISION_URL=https://vision.demos.2060.io
      - WEBRTC_SERVER_URL=https://webrtc.demos.2060.io
      - PUBLIC_BASE_URL=https://p2802.ovpndev.2060.io
      - ID_VERIFICATION_TIMEOUT_SECONDS=900
      - LOG_LEVEL=3

  redis:
    image: redis:alpine
    restart: always
    networks:
      - chatbot
    ports:
      - 6379:6379
    command: redis-server --maxmemory 64mb --maxmemory-policy allkeys-lru

  postgres:
    image: postgres:15.2
    restart: always
    networks:
      - chatbot
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=2060demo
      - POSTGRES_USER=gaia

networks:
  chatbot:
